<a href="https://colab.research.google.com/github/Ramya1410/Data-Science-Internship/blob/main/Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

problem 1

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
sample_size = 200
y = int(input('enter number of highly satisfied customers'))
#sample = df.sample(n=sample_size, random_state=1)

enter number of highly satisfied customers172

In [ ]:
import math
from scipy.stats import t

x = np.random.normal(size=y)
#sample_mean = x
#np.random.seed(1)

In [ ]:
#m = x.mean() 
#s = x.std() 
#dof = len(x)-1 
#confidence = 0.90

In [ ]:
#t_crit = np.abs(t.ppf((1-confidence)/2,dof))

In [ ]:
#(m-s*t_crit/np.sqrt(len(x)), m+s*t_crit/np.sqrt(len(x)))

In [ ]:
mean = round(x.mean(),5)

In [ ]:
z_critical = round(stats.norm.ppf(q = 0.90),5)

In [ ]:
pop_stdev = round(x.std(),5)

In [ ]:
margin_of_error = round(z_critical * (pop_stdev/math.sqrt(sample_size)),5)

In [ ]:
confidence_interval = (mean - margin_of_error,
                       mean + margin_of_error)

In [ ]:
print("Margin of Error:", (margin_of_error))
print("Confidence Interval:", (confidence_interval))

Margin of Error: 0.08746
Confidence Interval: (-0.10535, 0.06956999999999999)

problem 2

In [ ]:
x = int(input('enter speed '))

enter speed 100

In [ ]:
mean = 75

In [ ]:
std = 15

In [ ]:
import scipy.stats

In [ ]:
scipy.stats.norm(loc=75, scale=15).pdf(x)

0.006631809252849912

In [ ]:
from scipy.stats import norm

In [ ]:
probability = norm.pdf(x, loc=mean, scale=std)

In [ ]:
probability

0.006631809252849912

In [ ]:
round(probability,4)

0.0066

problem 3

In [ ]:
df = pd.read_csv('kerala.csv')

In [ ]:
df.head()

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL RAINFALL,FLOODS
0,KERALA,1901,28.7,44.7,51.6,160.0,174.7,824.6,743.0,357.5,197.7,266.9,350.8,48.4,3248.6,YES
1,KERALA,1902,6.7,2.6,57.3,83.9,134.5,390.9,1205.0,315.8,491.6,358.4,158.3,121.5,3326.6,YES
2,KERALA,1903,3.2,18.6,3.1,83.6,249.7,558.6,1022.5,420.2,341.8,354.1,157.0,59.0,3271.2,YES
3,KERALA,1904,23.7,3.0,32.2,71.5,235.7,1098.2,725.5,351.8,222.7,328.1,33.9,3.3,3129.7,YES
4,KERALA,1905,1.2,22.3,9.4,105.9,263.3,850.2,520.5,293.6,217.2,383.5,74.4,0.2,2741.6,NO

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SUBDIVISION       118 non-null    object
 1   YEAR              118 non-null    int64
 2   JAN               118 non-null    float64
 3   FEB               118 non-null    float64
 4   MAR               118 non-null    float64
 5   APR               118 non-null    float64
 6   MAY               118 non-null    float64
 7   JUN               118 non-null    float64
 8   JUL               118 non-null    float64
 9   AUG               118 non-null    float64
 10  SEP               118 non-null    float64
 11  OCT               118 non-null    float64
 12  NOV               118 non-null    float64
 13  DEC               118 non-null    float64
 14   ANNUAL RAINFALL  118 non-null    float64
 15  FLOODS            118 non-null    object
dtypes: float64(13), int64(1), object(2)
memory usage: 14.9+ KB

In [ ]:
df.describe()

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL RAINFALL
count,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000
mean,1959.500000,12.218644,15.633898,36.670339,110.330508,228.644915,651.617797,698.220339,430.369492,246.207627,293.207627,162.311017,40.009322,2925.405085
std,34.207699,15.473766,16.406290,30.063862,44.633452,147.548778,186.181363,228.988966,181.980463,121.901131,93.705253,83.200485,36.676330,452.169407
min,1901.000000,0.000000,0.000000,0.100000,13.100000,53.400000,196.800000,167.500000,178.600000,41.300000,68.500000,31.500000,0.100000,2068.800000
25%,1930.250000,2.175000,4.700000,18.100000,74.350000,125.050000,535.550000,533.200000,316.725000,155.425000,222.125000,93.025000,10.350000,2613.525000
50%,1959.500000,5.800000,8.350000,28.400000,110.400000,184.600000,625.600000,691.650000,386.250000,223.550000,284.300000,152.450000,31.100000,2934.300000
75%,1988.750000,18.175000,21.400000,49.825000,136.450000,264.875000,786.975000,832.425000,500.100000,334.500000,355.150000,218.325000,54.025000,3170.400000
max,2018.000000,83.500000,79.000000,217.200000,238.000000,738.800000,1098.200000,1526.500000,1398.900000,526.700000,567.900000,365.600000,202.300000,4473.000000

In [ ]:
df1 = df[['YEAR','JUN','JUL','FLOODS']].copy()

In [ ]:
df1.head()

   YEAR     JUN     JUL FLOODS
0  1901   824.6   743.0    YES
1  1902   390.9  1205.0    YES
2  1903   558.6  1022.5    YES
3  1904  1098.2   725.5    YES
4  1905   850.2   520.5     NO

In [ ]:
#df1['JUN_GT_500'] = 'True'
#df1.loc[df1['JUN'] > 500, 'JUN_GT_500'] = 'False'

In [ ]:
#df1['JUL_GT_500'] = 'True'
#df1.loc[df1['JUL'] > 500, 'JUL_GT_500'] = 'False'

In [ ]:
df1['JUN_GT_500'] = np.where(df1['JUN'] >= 500, 1, 0)
df1['JUL_GT_500'] = np.where(df1['JUL'] >= 500, 1, 0)

In [ ]:
 df1.replace({'YES': 1,'NO':0})

     YEAR     JUN     JUL  FLOODS  JUN_GT_500  JUL_GT_500
0    1901   824.6   743.0       1           1           1
1    1902   390.9  1205.0       1           0           1
2    1903   558.6  1022.5       1           1           1
3    1904  1098.2   725.5       1           1           1
4    1905   850.2   520.5       0           1           1
..    ...     ...     ...     ...         ...         ...
113  2014   454.4   677.8       1           0           1
114  2015   563.6   406.0       0           1           0
115  2016   522.2   412.3       0           1           0
116  2017   498.5   319.6       0           0           0
117  2018   625.4  1048.5       1           1           1

[118 rows x 6 columns]

In [ ]:
df1

     YEAR     JUN     JUL  FLOODS  JUN_GT_500  JUL_GT_500
0    1901   824.6   743.0       1           1           1
1    1902   390.9  1205.0       1           0           1
2    1903   558.6  1022.5       1           1           1
3    1904  1098.2   725.5       1           1           1
4    1905   850.2   520.5       0           1           1
..    ...     ...     ...     ...         ...         ...
113  2014   454.4   677.8       1           0           1
114  2015   563.6   406.0       0           1           0
115  2016   522.2   412.3       0           1           0
116  2017   498.5   319.6       0           0           0
117  2018   625.4  1048.5       1           1           1

[118 rows x 6 columns]

In [ ]:
df1['count']=1

In [ ]:
df1.drop(['JUN','JUL'],axis = 1)

     YEAR  FLOODS  JUN_GT_500  JUL_GT_500  count
0    1901       1           1           1      1
1    1902       1           0           1      1
2    1903       1           1           1      1
3    1904       1           1           1      1
4    1905       0           1           1      1
..    ...     ...         ...         ...    ...
113  2014       1           0           1      1
114  2015       0           1           0      1
115  2016       0           1           0      1
116  2017       0           0           0      1
117  2018       1           1           1      1

[118 rows x 5 columns]

In [ ]:
df1 = df1[['FLOODS','JUN_GT_500','JUL_GT_500','count']]
df1.head()

   FLOODS  JUN_GT_500  JUL_GT_500  count
0       1           1           1      1
1       1           0           1      1
2       1           1           1      1
3       1           1           1      1
4       0           1           1      1

In [ ]:
pd.pivot_table(
    df1, 
    values='count', 
    index=['FLOODS'], 
    columns=['JUN_GT_500'], 
    aggfunc=np.size, 
    fill_value=0
)

JUN_GT_500   0   1
FLOODS
0           19  39
1            6  54

In [ ]:
pA = (6+54)/(19+39+6+54)

In [ ]:
pB = (39+54)/(19+39+6+54)

In [ ]:
pAnB = 54/(19+39+6+54)

In [ ]:
res1 = pAnB/pB

In [ ]:
print('probability of flood given it rained more than 500 mm in June (P(A|B))',res1)

probability of flood given it rained more than 500 mm in June (P(A|B)) 0.5806451612903226

In [ ]:
res2 = pAnB/pA

In [ ]:
print('probability of rain more than 500 mm in June,given it flooded that year (P(B|A))',res2)

probability of rain more than 500 mm in June,given it flooded that year (P(B|A)) 0.9

In [ ]:
pd.pivot_table(
    df1, 
    values='count', 
    index=['FLOODS'], 
    columns=['JUL_GT_500'], 
    aggfunc=np.size, 
    fill_value=0
)

JUL_GT_500   0   1
FLOODS
0           19  39
1            3  57

In [ ]:
pa = (3+57)/(19+39+3+57)

In [ ]:
pb = (39+57)/(19+39+3+57)

In [ ]:
panb = 57/(19+39+3+57)

In [ ]:
res3 = panb/pb

In [ ]:
print('probability of flood given it rained more than 500 mm in July (P(A|B))',res3)

probability of flood given it rained more than 500 mm in July (P(A|B)) 0.59375

In [ ]:
res4 = panb/pa

In [ ]:
print('Probability of rain more than 500 mm in July given it flooded that year',res4)

Probability of rain more than 500 mm in July given it flooded that year 0.9500000000000001

problem 4

In [ ]:
from sklearn.datasets import load_wine
from sklearn.utils import shuffle

wine = load_wine()
X, y = shuffle(wine.data, wine.target, random_state=13)

In [ ]:
df = pd.DataFrame(wine.data,columns= wine['feature_names'])
df['target'] = wine.target
df.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0

In [ ]:
sample_size = 50
sample = df.sample(n=sample_size, random_state=100)

In [ ]:
import math
from scipy import stats

sample_mean = sample.target.mean()
np.random.seed(1)

In [ ]:
z_critical = stats.norm.ppf(q = 0.95)

In [ ]:
pop_stdev = sample.target.std()

In [ ]:
margin_of_error = z_critical * (pop_stdev/math.sqrt(sample_size))

In [ ]:
confidence_interval = (sample_mean - margin_of_error,
                       sample_mean + margin_of_error)

In [ ]:
print("Z-critical value:", z_critical)
print("Margin of Error:", margin_of_error)
print("Confidence Interval:", confidence_interval)

Z-critical value: 1.6448536269514722
Margin of Error: 0.18615327631130832
Confidence Interval: (0.9938467236886916, 1.3661532763113082)